.root {
    -fx-background-color: #cc7000;

    -fx-faint-focus-color: transparent;
    -fx-focus-color: #b36200;

    -fx-background-radius: 5;
    /* -fx-border-radius: 15; */
}

.button {

    -fx-background-color: #cc7000;   
    -fx-color: #ffffff;

}

.button:hover {
    -fx-background-color: #804600;    
}

.info-label {
    -fx-text-fill: #FFFFFF;
}

.tree-table-row-cell {
    -fx-background-color: -fx-table-cell-border-color, -fx-control-inner-background;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
    -fx-text-fill: -fx-text-inner-color;
}
.tree-table-row-cell:selected {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-focus-color;
    -fx-background-insets: 0, 1, 2;
    -fx-text-fill: #FFFFFF;
}

.tree-table-row-cell:odd {
    -fx-background-color: -fx-table-cell-border-color, derive(-fx-control-inner-background,-5%);
    -fx-background-insets: 0, 0 0 1 0;
}

.tree-table-row-cell:selected:odd {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-focus-color;
    -fx-background-insets: 0, 1, 2;
}