name: Java CI

on: [push]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 11
    - name: Build with Gradle
      run: ./gradlew build
    - name: Processor file jar
      run: |
        |import os
        |import re
        |import ntpath
        |
        |def get_bslls_jar(dir):
        |    names = os.listdir(dir)
        |    for name in names:
        |        fullname = os.path.join(dir, name)
        |        if os.path.isfile(fullname) and re.search(pattern, fullname):
        |            return ntpath.basename(fullname)
        |        return None
        |
        |pattern = r"phoenix.+\.jar"
        |dirName = os.getcwd() + "/build/libs"
        |fullname = get_bslls_jar(dirName)
        |os.rename(dirName + "/"+ fullname, dirName + "/phoenix.jar")
      shell: python
    - uses: actions/upload-artifact@master
      with:
        name: phoenix
        path: ./build/libs/phoenix.jar
