name: Java CI

on: [push]

jobs:
  build:
    strategy:
      matrix:
        os: [windows-latest]
        include:
          - os: windows-latest
            displayName: Windows
            prefix: win
            jpackageDownload: https://download.java.net/java/early_access/jdk14/27/GPL/openjdk-14-ea+27_windows-x64_bin.zip
            jdk14Path: /jdk-14
    runs-on: ${{ matrix.os }}
    name: Create app image

    steps:
    - uses: actions/checkout@v1
    - name: Set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 11
    - name: Build with Gradle
      run: ./gradlew build
    - name: Download jpackage
        # We need to download jpackage from https://jdk.java.net/jpackage/
      run: |
          import tarfile
          import zipfile
          import sys
          if sys.version_info[0] >= 3:
            from urllib.request import urlretrieve
          else:
            from urllib import urlretrieve
          url = "${{ matrix.jpackageDownload }}"
          tmpfile, headers = urlretrieve(url)
          if (url.endswith("tar.gz")):
            tar = tarfile.open(tmpfile)
            tar.extractall()
            tar.close()
          elif (url.endswith("zip")):
            zip = zipfile.ZipFile(tmpfile)
            zip.extractall()
            zip.close()
      shell: python
    - name: Processor file jar
      run: |
        import os
        import re
        import ntpath
        
        def get_bslls_jar(dir):
            names = os.listdir(dir)
            for name in names:
                fullname = os.path.join(dir, name)
                if os.path.isfile(fullname) and re.search(pattern, fullname):
                    return ntpath.basename(fullname)
                return None
        
        pattern = r"phoenix.+\.jar"
        dirName = os.getcwd() + "/build/libs"
        fullname = get_bslls_jar(dirName)
        os.rename(dirName + "/"+ fullname, dirName + "/phoenix.jar")
      shell: python
    - name: Build jpackage msi
      run: |
          import os

          jpackage = os.getcwd() + "\\" + "${{ matrix.jdk14Path }}" + '\\bin\\jpackage.exe'
          dirName = os.getcwd() + "\\build\\libs"
          # fullname = dirName + "\\" + "phoenix.jar"

          # jpackage.exe --name phoenixbsl --package-type msi --input build\libs --main-jar phoenix-0.2.jar --win-dir-chooser --win-menu --app-version 0.2
          
          cmdArgs = [jpackage]
          cmdArgs.append('--name')
          cmdArgs.append('phoenixbsl')        
          cmdArgs.append('--type')
          cmdArgs.append('msi')       
          cmdArgs.append('--input')
          cmdArgs.append('build/libs')        
          cmdArgs.append('--main-jar')
          cmdArgs.append('phoenix.jar')
          cmdArgs.append('--win-dir-chooser')    
          cmdArgs.append('--win-menu')
          cmdArgs.append('--app-version')
          cmdArgs.append('0.3.1')

          cmd = ' '.join(cmdArgs)

          os.system(cmd)

      shell: python
    - uses: actions/upload-artifact@master
      with:
        name: phoenixbsl
        path: ./phoenixbsl.msi
