name: Java CI

on: [push]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 11
    - name: Build with Gradle
      run: ./gradlew build
    - name: Copy file
      run: cp ./build/libs/phoenix-0.2.jar ./.github/phoenix.jar
    - uses: actions/upload-artifact@master
      with:
        name: phoenix-0.1
        path: ./.github/phoenix.jar